body {
    font-family: 'Metropolis', sans-serif; 
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
}

.nav{
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 1;
}

.bio_nav{
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 1;
}

.nav_buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: white;
}
p {
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    margin-top: 3rem;
}

.line {
    width: 5rem;
    height: 2px;
    background-color: white;
}

.nav_button {
    background-color: transparent;
    position: relative;
    border: none;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'Metropolis', sans-serif;
    font-weight: 500;
    padding: 0;
}

.nav_button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    bottom: -2px;
    width: 0%;
    background-color: white;
    transition: width 0.3s ease;
}

.nav_button:hover::after,
.nav_button.active::after {
    width: 100%;
}

.content_wrapper{
    width: 100%;
    max-width: 1200px;
    padding-left: 2rem;
}

.content {
    width: 100%;
}

.home_image{
    height: calc(100vh - 3rem);
    position:absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.bio_image {
    height: calc(100vh - 3rem);
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.contact_wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-weight: 500;
}

.contact_wrapper > div {
    width: 50%;
}

.table_wrapper{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}
.year_col{
    width: 7rem;
    min-width: 7rem;
    max-width: 7rem;;
}

@media (max-width: 660px) {
    .line{
        display: none;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .bio_nav{
        padding-bottom: 1rem;
    }

    .home_image{
        right: -20%;
        top: 6rem;
        height: calc(100vh - 6rem);
    }

    .contact_wrapper{
        flex-direction: column;
    }

    .contact_wrapper > div {
        width: 100%;
    }

    .bio_image{
        opacity: 0.5;
    }
    .nav_buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .row{
        flex-direction: column;
    }
    .year_col{
        margin-top: 1rem;
    }
}